In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()

In [2]:
from pyspark.sql.functions import col, lit
from pyspark.sql.functions import sum,avg,max,min,mean,count
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import  udf
from pyspark.sql.types import DoubleType
from pyspark.sql import functions as F
import pyspark.sql.types as pst
from pyspark.sql import Row
from pyspark.sql.types import StringType
from pyspark.sql.types import StructType, StructField, StringType, IntegerType,MapType,FloatType
from pyspark.sql import SQLContext
from pyspark import SparkContext, SparkConf

In [3]:
# infer schema 
df = spark.read.options(inferSchema='True', header='True', delimiter=',').csv('/user/itv001290/StudentData.csv')
df.show()
df.printSchema()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [4]:
#Provide Schema 


from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
                    StructField("age", IntegerType(), True),
                    StructField("gender", StringType(), True),
                    StructField("name", StringType(), True),
                    StructField("course", StringType(), True),
                    StructField("roll", StringType(), True),
                    StructField("marks", IntegerType(), True),
                    StructField("email", StringType(), True)
])



# COMMAND ----------

df = spark.read.options(header='True').schema(schema).csv('/user/itv001290/StudentData.csv')
df.show()
df.printSchema()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [5]:
df.select("name","age").show()

+----------------+---+
|            name|age|
+----------------+---+
| Hubert Oliveras| 28|
|Toshiko Hillyard| 29|
|  Celeste Lollis| 28|
|    Elenore Choy| 29|
|  Sheryll Towler| 28|
|  Margene Moores| 28|
|     Neda Briski| 28|
|    Claude Panos| 28|
|  Celeste Lollis| 28|
|  Cordie Harnois| 29|
|       Kena Wild| 29|
| Ernest Rossbach| 29|
|  Latia Vanhoose| 28|
|  Latia Vanhoose| 29|
|     Neda Briski| 29|
|  Latia Vanhoose| 29|
|  Loris Crossett| 29|
|  Annika Hoffman| 29|
|   Santa Kerfien| 29|
|Mickey Cortright| 28|
+----------------+---+
only showing top 20 rows

In [6]:
from pyspark.sql.functions import col
df.select(col("roll"), col("name")).show()

+------+----------------+
|  roll|            name|
+------+----------------+
| 02984| Hubert Oliveras|
| 12899|Toshiko Hillyard|
| 21267|  Celeste Lollis|
| 32877|    Elenore Choy|
| 41487|  Sheryll Towler|
| 52771|  Margene Moores|
| 61973|     Neda Briski|
| 72409|    Claude Panos|
| 81492|  Celeste Lollis|
| 92882|  Cordie Harnois|
|102285|       Kena Wild|
|111449| Ernest Rossbach|
|122502|  Latia Vanhoose|
|132110|  Latia Vanhoose|
|141770|     Neda Briski|
|152159|  Latia Vanhoose|
|161771|  Loris Crossett|
|171660|  Annika Hoffman|
|182129|   Santa Kerfien|
|192537|Mickey Cortright|
+------+----------------+
only showing top 20 rows

In [7]:
df.select(df.columns[2:6]).show()

+----------------+------+------+-----+
|            name|course|  roll|marks|
+----------------+------+------+-----+
| Hubert Oliveras|    DB| 02984|   59|
|Toshiko Hillyard| Cloud| 12899|   62|
|  Celeste Lollis|    PF| 21267|   45|
|    Elenore Choy|    DB| 32877|   29|
|  Sheryll Towler|   DSA| 41487|   41|
|  Margene Moores|   MVC| 52771|   32|
|     Neda Briski|   OOP| 61973|   69|
|    Claude Panos| Cloud| 72409|   85|
|  Celeste Lollis|   MVC| 81492|   64|
|  Cordie Harnois|   OOP| 92882|   51|
|       Kena Wild|   DSA|102285|   35|
| Ernest Rossbach|    DB|111449|   53|
|  Latia Vanhoose|    DB|122502|   27|
|  Latia Vanhoose|   MVC|132110|   55|
|     Neda Briski|    PF|141770|   42|
|  Latia Vanhoose|    DB|152159|   27|
|  Loris Crossett|   MVC|161771|   36|
|  Annika Hoffman|   OOP|171660|   22|
|   Santa Kerfien|    PF|182129|   56|
|Mickey Cortright|    DB|192537|   62|
+----------------+------+------+-----+
only showing top 20 rows

In [8]:
## Manipulating Column Data 

df.withColumn("roll", col("roll").cast("String"))
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [9]:
df.withColumn("marks", col('marks') + 10).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   69|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [10]:
 df.withColumn("aggregated marks", col('marks') - 10)

+---+------+----------------+------+------+-----+--------------------+----------------+
|age|gender|            name|course|  roll|marks|               email|aggregated marks|
+---+------+----------------+------+------+-----+--------------------+----------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|              49|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|              52|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|              35|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|              19|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|              31|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|              22|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|              59|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|              75|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|              54|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|              41|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|              25|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|              43|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|              17|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|              45|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|              32|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|              17|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|              26|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|              12|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|              46|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|              52|
+---+------+----------------+------+------+-----+--------------------+----------------+
only showing top 20 rows

In [11]:

df.withColumn("name", lit("USA"))

+---+------+----+------+------+-----+--------------------+
|age|gender|name|course|  roll|marks|               email|
+---+------+----+------+------+-----+--------------------+
| 28|Female| USA|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female| USA| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male| USA|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female| USA|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male| USA|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male| USA|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male| USA|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female| USA| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male| USA|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male| USA|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female| USA|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| USA|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female| USA|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female| USA|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male| USA|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female| USA|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male| USA|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male| USA|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male| USA|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female| USA|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----+------+------+-----+--------------------+
only showing top 20 rows

In [12]:
# multiple transformation with same dataframe for more than one column
df.withColumn("marks", col("marks") - 10).withColumn("updated marks", col("marks") + 20).withColumn("Country", lit("USA"))

+---+------+----------------+------+------+-----+--------------------+-------------+-------+
|age|gender|            name|course|  roll|marks|               email|updated marks|Country|
+---+------+----------------+------+------+-----+--------------------+-------------+-------+
| 28|Female| Hubert Oliveras|    DB| 02984|   49|Annika Hoffman_Na...|           69|    USA|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   52|Margene Moores_Ma...|           72|    USA|
| 28|  Male|  Celeste Lollis|    PF| 21267|   35|Jeannetta Golden_...|           55|    USA|
| 29|Female|    Elenore Choy|    DB| 32877|   19|Billi Clore_Mitzi...|           39|    USA|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   31|Claude Panos_Judi...|           51|    USA|
| 28|  Male|  Margene Moores|   MVC| 52771|   22|Toshiko Hillyard_...|           42|    USA|
| 28|  Male|     Neda Briski|   OOP| 61973|   59|Alberta Freund_El...|           79|    USA|
| 28|Female|    Claude Panos| Cloud| 72409|   75|Sheryll Towler_Al...|           95|    USA|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   54|Nicole Harwood_Cl...|           74|    USA|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   41|Judie Chipps_Clem...|           61|    USA|
| 29|Female|       Kena Wild|   DSA|102285|   25|Dustin Feagins_Ma...|           45|    USA|
| 29|  Male| Ernest Rossbach|    DB|111449|   43|Maybell Duguay_Ab...|           63|    USA|
| 28|Female|  Latia Vanhoose|    DB|122502|   17|Latia Vanhoose_Mi...|           37|    USA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   45|Eda Neathery_Nico...|           65|    USA|
| 29|  Male|     Neda Briski|    PF|141770|   32|Margene Moores_Mi...|           52|    USA|
| 29|Female|  Latia Vanhoose|    DB|152159|   17|Claude Panos_Sant...|           37|    USA|
| 29|  Male|  Loris Crossett|   MVC|161771|   26|Mitzi Seldon_Jenn...|           46|    USA|
| 29|  Male|  Annika Hoffman|   OOP|171660|   12|Taryn Brownlee_Mi...|           32|    USA|
| 29|  Male|   Santa Kerfien|    PF|182129|   46|Judie Chipps_Tary...|           66|    USA|
| 28|Female|Mickey Cortright|    DB|192537|   52|Ernest Rossbach_M...|           72|    USA|
+---+------+----------------+------+------+-----+--------------------+-------------+-------+
only showing top 20 rows

In [13]:
df.withColumnRenamed("gender","sex").withColumnRenamed("roll", "roll number")

+---+------+----------------+------+-----------+-----+--------------------+
|age|   sex|            name|course|roll number|marks|               email|
+---+------+----------------+------+-----------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|      02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|      21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|      32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC|      52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP|      61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud|      72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|     102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|     111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|     122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|     141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|     152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|     161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|     182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|     192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+-----------+-----+--------------------+
only showing top 20 rows

In [14]:
df.select(col("name").alias("Full Name"))

+----------------+
|       Full Name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

In [15]:
df.filter(df.course == "DB").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|  Hubert Oliveras|    DB|  02984|   59|Annika Hoffman_Na...|
| 29|Female|     Elenore Choy|    DB|  32877|   29|Billi Clore_Mitzi...|
| 29|  Male|  Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|   Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|   Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 28|Female| Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|      Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 28|  Male|    Kizzy Brenner|    DB| 381712|   36|Paris Hutton_Kena...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 29|  Male|     Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female| Mickey Cortright|    DB| 551389|   43|Tijuana Kropf_Jen...|
| 28|Female|Leontine Phillips|    DB| 602404|   48|Neda Briski_Cheri...|
| 28|Female|  Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|     Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male| Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|  Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|     Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 28|  Male|   Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 28|  Male|   Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 29|Female|     Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [16]:
df.filter(col("course") == "DB").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|  Hubert Oliveras|    DB|  02984|   59|Annika Hoffman_Na...|
| 29|Female|     Elenore Choy|    DB|  32877|   29|Billi Clore_Mitzi...|
| 29|  Male|  Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|   Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|   Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 28|Female| Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|      Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 28|  Male|    Kizzy Brenner|    DB| 381712|   36|Paris Hutton_Kena...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 29|  Male|     Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female| Mickey Cortright|    DB| 551389|   43|Tijuana Kropf_Jen...|
| 28|Female|Leontine Phillips|    DB| 602404|   48|Neda Briski_Cheri...|
| 28|Female|  Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|     Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male| Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|  Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|     Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 28|  Male|   Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 28|  Male|   Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 29|Female|     Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [17]:
df.filter( (df.course == "DB") & (df.marks > 50) ).show()

+---+------+------------------+------+-------+-----+--------------------+
|age|gender|              name|course|   roll|marks|               email|
+---+------+------------------+------+-------+-----+--------------------+
| 28|Female|   Hubert Oliveras|    DB|  02984|   59|Annika Hoffman_Na...|
| 29|  Male|   Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|       Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 29|  Male|      Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female|   Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|      Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male|  Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|   Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|      Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 29|Female|      Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
| 29|Female| Leontine Phillips|    DB|1432252|   67|Billi Clore_Shery...|
| 28|Female|   Gonzalo Ferebee|    DB|1451513|   69|Claude Panos_Tame...|
| 28|  Male|   Marylee Capasso|    DB|1611411|   96|Annika Hoffman_Lo...|
| 29|  Male|    Alberta Freund|    DB|1671638|   98|Clementina Menke_...|
| 28|Female|Priscila Tavernier|    DB|1722388|   86|Lawanda Wohlwend_...|
| 29|  Male|    Dustin Feagins|    DB|1782045|   81|Cordie Harnois_To...|
| 29|  Male|     Tijuana Kropf|    DB|1882795|   92|Hubert Oliveras_E...|
| 28|  Male|   Ernest Rossbach|    DB|1901492|   54|Latia Vanhoose_Jc...|
| 29|Female| Leontine Phillips|    DB|1972893|   64|Marylee Capasso_E...|
+---+------+------------------+------+-------+-----+--------------------+
only showing top 20 rows

In [18]:
courses = ["DB", "Cloud", "OOP", "DSA"]
df.filter(df.course.isin(courses)).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|       Kena Wild| Cloud|221750|   60|Mitzi Seldon_Jenn...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|     Anna Santos| Cloud|242254|   68|Jc Andrepont_Hube...|
| 28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
| 28|Female|  Maybell Duguay| Cloud|261439|   20|Nicole Harwood_Ju...|
| 29|Female|    Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 29|Female|    Cheri Kenney| Cloud|281408|   43|Annika Hoffman_Me...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [19]:
df.filter(df.course.startswith("DS")).show()

+---+------+----------------+------+-------+-----+--------------------+
|age|gender|            name|course|   roll|marks|               email|
+---+------+----------------+------+-------+-----+--------------------+
| 28|  Male|  Sheryll Towler|   DSA|  41487|   41|Claude Panos_Judi...|
| 29|Female|       Kena Wild|   DSA| 102285|   35|Dustin Feagins_Ma...|
| 28|Female|    Jc Andrepont|   DSA| 232060|   58|Billi Clore_Abram...|
| 29|Female|    Paris Hutton|   DSA| 271472|   99|Sheryll Towler_Al...|
| 28|Female|  Dustin Feagins|   DSA| 291984|   82|Abram Nagao_Kena ...|
| 28|Female|Mickey Cortright|   DSA| 342003|   44|Mitzi Seldon_Jean...|
| 29|Female|     Anna Santos|   DSA| 411479|   42|Kena Wild_Mitzi S...|
| 28|Female|  Maybell Duguay|   DSA| 452141|   29|Leontine Phillips...|
| 29|Female|    Paris Hutton|   DSA| 492159|   60|Nicole Harwood_Ma...|
| 29|  Male|  Celeste Lollis|   DSA| 562065|   85|Jc Andrepont_Mela...|
| 29|  Male|  Maybell Duguay|   DSA| 592061|   83|Eda Neathery_Jenn...|
| 28|  Male|    Mitzi Seldon|   DSA| 622981|   45|Lawanda Wohlwend_...|
| 28|Female|  Jenna Montague|   DSA| 691564|   26|Mitzi Seldon_Sebr...|
| 28|Female|  Celeste Lollis|   DSA| 731879|   76|Hubert Oliveras_G...|
| 28|  Male|  Sheryll Towler|   DSA| 831562|   59|Kena Wild_Gonzalo...|
| 28|Female|  Sheryll Towler|   DSA| 871967|   64|Michelle Ruggiero...|
| 28|  Male|  Margene Moores|   DSA| 892010|   93|Anna Santos_Naoma...|
| 28|Female|  Somer Stoecker|   DSA| 901958|   64|Kizzy Brenner_Jc ...|
| 28|Female|Lawanda Wohlwend|   DSA| 951686|   60|Loris Crossett_Ni...|
| 28|  Male|  Jenna Montague|   DSA|1002103|   36|Melani Engberg_Hu...|
+---+------+----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [20]:
df.filter(df.name.endswith("se")).show()

+---+------+--------------+------+-------+-----+--------------------+
|age|gender|          name|course|   roll|marks|               email|
+---+------+--------------+------+-------+-----+--------------------+
| 28|Female|Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|Latia Vanhoose|   MVC| 132110|   55|Eda Neathery_Nico...|
| 29|Female|Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 29|  Male|Latia Vanhoose| Cloud|1832268|   60|Marylee Capasso_S...|
| 29|  Male|Latia Vanhoose|   OOP|2372748|   94|Latia Vanhoose_La...|
| 29|Female|Latia Vanhoose|    PF|2861854|   42|Claude Panos_Nico...|
| 29|  Male|Latia Vanhoose|   MVC|2992281|   90|Elenore Choy_Cord...|
| 29|Female|Latia Vanhoose|   MVC|3091650|   30|Cordie Harnois_Se...|
| 29|Female|Latia Vanhoose|   OOP|3841395|   26|Kizzy Brenner_Eda...|
| 29|  Male|Latia Vanhoose| Cloud|4661276|   40|Jc Andrepont_Anni...|
| 28|Female|Latia Vanhoose|   OOP|4792828|   72|Tamera Blakley_Mi...|
| 28|Female|Latia Vanhoose|    PF|5222171|   73|Toshiko Hillyard_...|
| 28|Female|Latia Vanhoose| Cloud|6701628|   33|Abram Nagao_Cheri...|
| 29|Female|Latia Vanhoose|   MVC|6771882|   49|Alberta Freund_La...|
| 28|Female|Latia Vanhoose|   MVC|7381991|   94|Eda Neathery_Mich...|
| 29|  Male|Latia Vanhoose| Cloud|7721956|   45|Jalisa Swenson_An...|
| 28|  Male|Latia Vanhoose|   OOP|7741757|   66|Loris Crossett_Na...|
| 28|  Male|Latia Vanhoose|   DSA|7792270|   37|Eda Neathery_Donn...|
| 28|  Male|Latia Vanhoose|   DSA|9442974|   29|Jc Andrepont_Cele...|
| 28|Female|Latia Vanhoose| Cloud|9471888|   56|Naoma Fritts_Kena...|
+---+------+--------------+------+-------+-----+--------------------+

In [21]:
df.filter(df.name.contains("se")).show()

+---+------+--------------+------+-------+-----+--------------------+
|age|gender|          name|course|   roll|marks|               email|
+---+------+--------------+------+-------+-----+--------------------+
| 28|Female|Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|Latia Vanhoose|   MVC| 132110|   55|Eda Neathery_Nico...|
| 29|Female|Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 29|  Male|Loris Crossett|   MVC| 161771|   36|Mitzi Seldon_Jenn...|
| 29|Female|Loris Crossett|    PF| 201487|   96|Elenore Choy_Lati...|
| 28|Female|Loris Crossett|    PF| 332739|   62|Michelle Ruggiero...|
| 29|  Male|Loris Crossett|    PF| 911593|   46|Gonzalo Ferebee_M...|
| 28|Female|Loris Crossett|   DSA|1662549|   86|Paris Hutton_Lati...|
| 29|  Male|Latia Vanhoose| Cloud|1832268|   60|Marylee Capasso_S...|
| 29|  Male|Latia Vanhoose|   OOP|2372748|   94|Latia Vanhoose_La...|
| 28|Female|Loris Crossett|   OOP|2691881|   29|Maybell Duguay_Ni...|
| 28|  Male|Loris Crossett|   OOP|2852490|   25|Loris Crossett_Do...|
| 29|Female|Latia Vanhoose|    PF|2861854|   42|Claude Panos_Nico...|
| 29|  Male|Latia Vanhoose|   MVC|2992281|   90|Elenore Choy_Cord...|
| 29|Female|Latia Vanhoose|   MVC|3091650|   30|Cordie Harnois_Se...|
| 28|Female|Loris Crossett|   OOP|3502780|   30|Jenna Montague_Co...|
| 28|Female|Loris Crossett|    PF|3531684|   84|Dustin Feagins_Ta...|
| 29|  Male|Loris Crossett|   OOP|3592529|   80|Annika Hoffman_To...|
| 29|Female|Latia Vanhoose|   OOP|3841395|   26|Kizzy Brenner_Eda...|
| 28|Female|Loris Crossett|    PF|3861248|   94|Dustin Feagins_Ch...|
+---+------+--------------+------+-------+-----+--------------------+
only showing top 20 rows

In [22]:
df.filter(df.name.like('%s%e%')).show()

+---+------+------------------+------+-------+-----+--------------------+
|age|gender|              name|course|   roll|marks|               email|
+---+------+------------------+------+-------+-----+--------------------+
| 28|  Male|    Celeste Lollis|    PF|  21267|   45|Jeannetta Golden_...|
| 28|  Male|    Celeste Lollis|   MVC|  81492|   64|Nicole Harwood_Cl...|
| 28|Female|    Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|    Latia Vanhoose|   MVC| 132110|   55|Eda Neathery_Nico...|
| 29|Female|    Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 29|  Male|    Loris Crossett|   MVC| 161771|   36|Mitzi Seldon_Jenn...|
| 29|Female|    Loris Crossett|    PF| 201487|   96|Elenore Choy_Lati...|
| 28|Female|    Dustin Feagins|   DSA| 291984|   82|Abram Nagao_Kena ...|
| 28|Female|    Loris Crossett|    PF| 332739|   62|Michelle Ruggiero...|
| 29|  Male|    Jalisa Swenson|    PF| 372873|   45|Ernest Rossbach_T...|
| 28|Female|    Jalisa Swenson|   OOP| 431352|   25|Gonzalo Ferebee_J...|
| 28|  Male|    Dustin Feagins|    PF| 461839|   51|Neda Briski_Eleno...|
| 29|  Male|    Celeste Lollis|   DSA| 562065|   85|Jc Andrepont_Mela...|
| 28|  Male|Priscila Tavernier|    PF| 642594|   27|Marylee Capasso_C...|
| 28|Female|    Celeste Lollis|   DSA| 731879|   76|Hubert Oliveras_G...|
| 29|  Male|    Loris Crossett|    PF| 911593|   46|Gonzalo Ferebee_M...|
| 29|Female|    Dustin Feagins|   OOP|1161607|   37|Eda Neathery_Mary...|
| 28|  Male|    Jalisa Swenson|    PF|1192555|   77|Marylee Capasso_C...|
| 29|  Male|    Jalisa Swenson| Cloud|1261533|   70|Dustin Feagins_Ni...|
| 29|  Male|    Jalisa Swenson|    PF|1332072|   88|Billi Clore_Kizzy...|
+---+------+------------------+------+-------+-----+--------------------+
only showing top 20 rows

In [23]:
df2 = df.withColumn("total_marks", lit(120))

In [24]:
df2 = df2.withColumn("average", (col("marks") / col ("total_marks"))*100 )

In [25]:
df2 = df2.filter((df2.course == "OOP") & (df2.average > 80))

In [26]:
df2.show()

+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
|age|gender|              name|course|   roll|marks|               email|total_marks|          average|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
| 28|  Male|    Jenna Montague|   OOP|3331161|   98|Leontine Phillips...|        120|81.66666666666667|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|        120|             82.5|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|        120|             82.5|
| 29|  Male|    Margene Moores|   OOP|5621072|   97|Sheryll Towler_Ma...|        120|80.83333333333333|
| 29|  Male|      Jc Andrepont|   OOP|8022618|   97|Cordie Harnois_Ja...|        120|80.83333333333333|
| 28|  Male|    Loris Crossett|   OOP|8172914|   98|Paris Hutton_Pari...|        120|81.66666666666667|
| 28|  Male|    Loris Crossett|   OOP|9692316|   99|Judie Chipps_Mich...|        120|             82.5|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+

In [27]:
df.dropDuplicates(["gender","name"]).show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|   Celeste Lollis|   DSA| 731879|   76|Hubert Oliveras_G...|
| 28|  Male|  Sebrina Maresca|    PF| 361316|   62|Nicole Harwood_La...|
| 28|Female|   Tamera Blakley|    PF|1591554|   78|Sebrina Maresca_T...|
| 28|  Male|     Elenore Choy|    PF| 422704|   66|Marylee Capasso_N...|
| 29|Female|     Eda Neathery| Cloud|1011971|   91|Margene Moores_El...|
| 29|  Male|     Judie Chipps|    DB|2112234|   94|Dustin Feagins_Ta...|
| 28|Female|    Santa Kerfien| Cloud| 851620|   34|Melani Engberg_Sh...|
| 29|  Male|     Cheri Kenney| Cloud|2491705|   64|Toshiko Hillyard_...|
| 29|  Male|     Claude Panos|   DSA|1771605|   50|Claude Panos_Tame...|
| 29|Female|      Niki Klimek|    PF| 211508|   23|Cordie Harnois_Ju...|
| 29|Female|     Naoma Fritts|   MVC|1532260|   73|Elenore Choy_Judi...|
| 29|  Male|      Abram Nagao|   MVC| 962235|   32|Jenna Montague_Go...|
| 29|  Male|   Jalisa Swenson|    PF| 372873|   45|Ernest Rossbach_T...|
| 28|  Male|   Taryn Brownlee|    PF|3491666|   76|Neda Briski_Prisc...|
| 29|  Male| Mickey Cortright|   OOP|2361202|   59|Kizzy Brenner_Eda...|
| 28|Female|   Alberta Freund|   OOP| 251805|   83|Annika Hoffman_Sh...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 28|  Male|   Bonita Higuera| Cloud|1312294|   94|Eda Neathery_Pris...|
| 29|Female|     Cheri Kenney| Cloud| 281408|   43|Annika Hoffman_Me...|
| 29|Female|Michelle Ruggiero|    DB|1642509|   45|Hubert Oliveras_M...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [28]:
df3 = df.filter((df.gender == 'Male') & (df.course == 'PF') & df.name.like("N%"))

In [29]:
df3.show()

+---+------+------------+------+-------+-----+--------------------+
|age|gender|        name|course|   roll|marks|               email|
+---+------+------------+------+-------+-----+--------------------+
| 29|  Male| Neda Briski|    PF| 141770|   42|Margene Moores_Mi...|
| 29|  Male| Neda Briski|    PF| 842515|   68|Neda Briski_Huber...|
| 29|  Male| Niki Klimek|    PF| 982443|   94|Santa Kerfien_Kiz...|
| 29|  Male|Naoma Fritts|    PF|2141246|   91|Mitzi Seldon_Cord...|
| 28|  Male| Niki Klimek|    PF|3381919|   97|Hubert Oliveras_L...|
| 29|  Male| Niki Klimek|    PF|7852889|   48|Taryn Brownlee_El...|
| 28|  Male| Neda Briski|    PF|9912790|   65|Hubert Oliveras_T...|
+---+------+------------+------+-------+-----+--------------------+

In [30]:
df3.dropDuplicates(["gender","name",'age']).show()

+---+------+------------+------+-------+-----+--------------------+
|age|gender|        name|course|   roll|marks|               email|
+---+------+------------+------+-------+-----+--------------------+
| 28|  Male| Niki Klimek|    PF|3381919|   97|Hubert Oliveras_L...|
| 28|  Male| Neda Briski|    PF|9912790|   65|Hubert Oliveras_T...|
| 29|  Male| Neda Briski|    PF| 141770|   42|Margene Moores_Mi...|
| 29|  Male| Niki Klimek|    PF| 982443|   94|Santa Kerfien_Kiz...|
| 29|  Male|Naoma Fritts|    PF|2141246|   91|Mitzi Seldon_Cord...|
+---+------+------------+------+-------+-----+--------------------+

In [31]:
df.sort(df.marks, df.age).show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 28|Female|     Cheri Kenney| Cloud|2281771|   22|Tamera Blakley_Ab...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [32]:
df.orderBy(df.marks, df.age).show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 28|Female|     Cheri Kenney| Cloud|2281771|   22|Tamera Blakley_Ab...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [33]:
df.sort(df.marks.asc(), df.age.desc()).show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|Female|   Maybell Duguay|   MVC|1102536|   22|Somer Stoecker_Ma...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

### Note for groupby you need to perform some sort of agg for .show() to work

In [34]:
df.groupBy("gender").sum("marks").show()

+------+----------+
|gender|sum(marks)|
+------+----------+
|Female|     29636|
|  Male|     30461|
+------+----------+

In [35]:
df.groupBy("gender").count().show()

+------+-----+
|gender|count|
+------+-----+
|Female|  501|
|  Male|  499|
+------+-----+

In [36]:
df.groupBy("course").sum("marks").show()

+------+----------+
|course|sum(marks)|
+------+----------+
|    PF|      9933|
|    DB|      9270|
|   MVC|      9585|
|   DSA|     10950|
| Cloud|     11443|
|   OOP|      8916|
+------+----------+

In [37]:
df.groupBy("gender").max("marks").show()

+------+----------+
|gender|max(marks)|
+------+----------+
|Female|        99|
|  Male|        99|
+------+----------+

In [38]:
df.groupBy("age").avg("marks").show()

+---+------------------+
|age|        avg(marks)|
+---+------------------+
| 28|60.487854251012145|
| 29|59.715415019762844|
+---+------------------+

In [39]:
df.groupBy("course","gender").agg(count("*").alias("total_enrollments"), sum("marks").alias("total_marks"), min("marks").alias("min_makrs"), max("marks"), avg("marks")).show()

+------+------+-----------------+-----------+---------+----------+------------------+
|course|gender|total_enrollments|total_marks|min_makrs|max(marks)|        avg(marks)|
+------+------+-----------------+-----------+---------+----------+------------------+
|   OOP|  Male|               70|       4234|       20|        99| 60.48571428571429|
|    DB|  Male|               82|       5073|       20|        98| 61.86585365853659|
| Cloud|Female|              106|       6316|       20|        99| 59.58490566037736|
|   MVC|  Male|               86|       5241|       22|        99| 60.94186046511628|
|   DSA|Female|               98|       6124|       20|        99| 62.48979591836735|
|    PF|  Male|               97|       5960|       20|        99| 61.44329896907217|
|   MVC|Female|               71|       4344|       22|        99|61.183098591549296|
| Cloud|  Male|               86|       5127|       21|        97|59.616279069767444|
|    PF|Female|               69|       3973|       20|        99| 57.57971014492754|
|   DSA|  Male|               78|       4826|       20|        99| 61.87179487179487|
|    DB|Female|               75|       4197|       20|        96|             55.96|
|   OOP|Female|               82|       4682|       21|        99| 57.09756097560975|
+------+------+-----------------+-----------+---------+----------+------------------+

In [40]:
# if you want to filter on newly created column in the same query you have to use col ('column name'), df.column_name wont work since it is not available in the context, with col it is available in the context
df.filter(df.gender == "Male").groupBy("course","gender").agg(count('*').alias("total_enrollments")).filter(col("total_enrollments") > 85).show()

+------+------+-----------------+
|course|gender|total_enrollments|
+------+------+-----------------+
|   MVC|  Male|               86|
|    PF|  Male|               97|
| Cloud|  Male|               86|
+------+------+-----------------+

In [41]:
df.groupBy("course", "gender").agg(sum("marks").alias("total_marks")).show()

+------+------+-----------+
|course|gender|total_marks|
+------+------+-----------+
|   OOP|  Male|       4234|
|    DB|  Male|       5073|
| Cloud|Female|       6316|
|   MVC|  Male|       5241|
|   DSA|Female|       6124|
|    PF|  Male|       5960|
|   MVC|Female|       4344|
| Cloud|  Male|       5127|
|    PF|Female|       3973|
|   DSA|  Male|       4826|
|    DB|Female|       4197|
|   OOP|Female|       4682|
+------+------+-----------+

In [42]:
df.groupBy("course", "age").agg(min("marks"), max("marks"), avg("marks")).show()

+------+---+----------+----------+------------------+
|course|age|min(marks)|max(marks)|        avg(marks)|
+------+---+----------+----------+------------------+
|   MVC| 28|        23|        99| 60.44444444444444|
|   MVC| 29|        22|        99| 61.56470588235294|
| Cloud| 28|        20|        99|             58.08|
|    PF| 29|        20|        99|56.275862068965516|
|    PF| 28|        20|        98| 63.75949367088607|
|   OOP| 29|        20|        99|59.729729729729726|
|   DSA| 28|        20|        99|  64.6867469879518|
| Cloud| 29|        21|        98|             61.25|
|    DB| 28|        21|        98| 58.76829268292683|
|   DSA| 29|        20|        99| 60.01075268817204|
|   OOP| 28|        23|        99| 57.64102564102564|
|    DB| 29|        20|        98|59.346666666666664|
+------+---+----------+----------+------------------+

In [43]:
!hdfs dfs -ls

Found 16 items
drwx------   - itv001290 supergroup          0 2023-06-24 23:58 .Trash
drwxr-xr-x   - itv001290 supergroup          0 2023-06-26 18:51 .sparkStaging
-rw-r--r--   3 itv001290 supergroup   34788380 2023-06-25 00:03 Electric_Vehicle_Population_Data.csv
-rw-r--r--   3 itv001290 supergroup        333 2021-10-05 00:10 OfficeData.csv
-rw-r--r--   3 itv001290 supergroup    1444890 2021-10-03 15:38 SalaryData.txt
-rw-r--r--   3 itv001290 supergroup      75701 2021-10-04 16:45 StudentData.csv
-rw-r--r--   3 itv001290 supergroup        304 2021-10-05 00:05 WordData.txt
-rw-r--r--   3 itv001290 supergroup        993 2022-01-29 17:02 data.json
-rw-r--r--   3 itv001290 supergroup   45580638 2023-06-25 12:16 ecommerce.csv
-rw-r--r--   3 itv001290 supergroup        344 2021-10-03 22:26 movie_ratings.csv
-rw-r--r--   3 itv001290 supergroup   34788380 2023-06-23 22:03 pyspark
-rw-r--r--   3 itv001290 supergroup      27782 2023-04-20 12:04 sample_interview.csv
-rw-r--r--   3 itv001290 supergroup       2213 2021-10-03 21:53 sample_words.txt
-rw-r--r--   3 itv001290 supergroup       1057 2021-10-11 21:16 shifts.txt
-rw-r--r--   3 itv001290 supergroup         72 2023-04-20 12:04 tesla_assesment.ipynb
drwxr-xr-x   - itv001290 supergroup          0 2021-10-03 14:47 warehouse

In [44]:
# show file on hdfs

In [45]:
!hdfs dfs -ls

Found 16 items
drwx------   - itv001290 supergroup          0 2023-06-24 23:58 .Trash
drwxr-xr-x   - itv001290 supergroup          0 2023-06-26 18:51 .sparkStaging
-rw-r--r--   3 itv001290 supergroup   34788380 2023-06-25 00:03 Electric_Vehicle_Population_Data.csv
-rw-r--r--   3 itv001290 supergroup        333 2021-10-05 00:10 OfficeData.csv
-rw-r--r--   3 itv001290 supergroup    1444890 2021-10-03 15:38 SalaryData.txt
-rw-r--r--   3 itv001290 supergroup      75701 2021-10-04 16:45 StudentData.csv
-rw-r--r--   3 itv001290 supergroup        304 2021-10-05 00:05 WordData.txt
-rw-r--r--   3 itv001290 supergroup        993 2022-01-29 17:02 data.json
-rw-r--r--   3 itv001290 supergroup   45580638 2023-06-25 12:16 ecommerce.csv
-rw-r--r--   3 itv001290 supergroup        344 2021-10-03 22:26 movie_ratings.csv
-rw-r--r--   3 itv001290 supergroup   34788380 2023-06-23 22:03 pyspark
-rw-r--r--   3 itv001290 supergroup      27782 2023-04-20 12:04 sample_interview.csv
-rw-r--r--   3 itv001290 supergroup       2213 2021-10-03 21:53 sample_words.txt
-rw-r--r--   3 itv001290 supergroup       1057 2021-10-11 21:16 shifts.txt
-rw-r--r--   3 itv001290 supergroup         72 2023-04-20 12:04 tesla_assesment.ipynb
drwxr-xr-x   - itv001290 supergroup          0 2021-10-03 14:47 warehouse

In [46]:
# copy file from local to hdfs

In [47]:
!hdfs dfs -copyFromLocal /home/itv001290/pyspark/SparkDF/WordData.txt /user/itv001290

copyFromLocal: `/user/itv001290/WordData.txt': File exists

In [48]:
df = spark.read.options().text('/user/itv001290/WordData.txt')
df.show()

# COMMAND ----------

df.groupBy('value').count().show()

+------+
| value|
+------+
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Chair|
| Chair|
| Chair|
|   Bag|
|Mobile|
|  Book|
| Chair|
| Chair|
| Chair|
|   Bag|
+------+
only showing top 20 rows

+------+-----+
| value|count|
+------+-----+
|   Mic|   10|
| Chair|   15|
|  Book|    5|
|Laptop|    5|
|   Bag|    5|
|Mobile|    5|
| Apple|   10|
+------+-----+

In [49]:
df.groupby('value').agg(count('*').alias("wordcount")).show()

+------+---------+
| value|wordcount|
+------+---------+
|   Mic|       10|
| Chair|       15|
|  Book|        5|
|Laptop|        5|
|   Bag|        5|
|Mobile|        5|
| Apple|       10|
+------+---------+

## UDF

In [50]:
!hdfs dfs -copyFromLocal /home/itv001290/pyspark/SparkDF/OfficeData.csv /user/itv001290

copyFromLocal: `/user/itv001290/OfficeData.csv': File exists

In [51]:
df = spark.read.options(header='True', inferSchema='True').csv('/user/itv001290/OfficeData.csv')
df.show()

# COMMAND ----------

def get_total_salary(salary,bonus):
  return salary + bonus

totalSalaryUDF = udf(lambda x,y: get_total_salary(x,y), IntegerType())

df.withColumn("total_salary+bonus", totalSalaryUDF(df.salary,df.bonus)).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+------------------+
|employee_name|department|state|salary|age|bonus|total_salary+bonus|
+-------------+----------+-----+------+---+-----+------------------+
|        James|     Sales|   NY| 90000| 34|10000|            100000|
|      Michael|     Sales|   NY| 86000| 56|20000|            106000|
|       Robert|     Sales|   CA| 81000| 30|23000|            104000|
|        Maria|   Finance|   CA| 90000| 24|23000|            113000|
|        Raman|   Finance|   CA| 99000| 40|24000|            123000|
|        Scott|   Finance|   NY| 83000| 36|19000|            102000|
|          Jen|   Finance|   NY| 79000| 53|15000|             94000|
|         Jeff| Marketing|   CA| 80000| 25|18000|             98000|
|        Kumar| Marketing|   NY| 91000| 50|21000|            112000|
+-------------+----------+-----+------+---+-----+------------------+

In [52]:
from pyspark.sql.types import DoubleType

In [53]:
def get_incr(state, salary, bonus):
  sum = 0
  if state == "NY":
    sum = salary * 0.10
    sum += bonus * 0.05
  elif state == "CA":
    sum = salary * 0.12
    sum += bonus * 0.03
  return sum

incrUDF = udf(lambda x,y,z: get_incr(x,y,z), DoubleType())

df.withColumn("increment", incrUDF(df.state, df.salary, df.bonus)).show()

+-------------+----------+-----+------+---+-----+---------+
|employee_name|department|state|salary|age|bonus|increment|
+-------------+----------+-----+------+---+-----+---------+
|        James|     Sales|   NY| 90000| 34|10000|   9500.0|
|      Michael|     Sales|   NY| 86000| 56|20000|   9600.0|
|       Robert|     Sales|   CA| 81000| 30|23000|  10410.0|
|        Maria|   Finance|   CA| 90000| 24|23000|  11490.0|
|        Raman|   Finance|   CA| 99000| 40|24000|  12600.0|
|        Scott|   Finance|   NY| 83000| 36|19000|   9250.0|
|          Jen|   Finance|   NY| 79000| 53|15000|   8650.0|
|         Jeff| Marketing|   CA| 80000| 25|18000|  10140.0|
|        Kumar| Marketing|   NY| 91000| 50|21000|  10150.0|
+-------------+----------+-----+------+---+-----+---------+

# Cache stores all the previous transformations and when action is called on data frame it does not perform those transformations again, it just returns that.

In [54]:
df = spark.read.options(header='True', inferSchema='True').csv('/user/itv001290/StudentData.csv')
# df.show()

# COMMAND ----------

df = df.groupBy("course","gender","age").count()

# COMMAND ----------

df = df.withColumn("dummy", col("age") * 100)

# COMMAND ----------

df.show()

# COMMAND ----------

df.cache()

# COMMAND ----------

df.show()

+------+------+---+-----+-----+
|course|gender|age|count|dummy|
+------+------+---+-----+-----+
| Cloud|Female| 29|   49| 2900|
|   DSA|Female| 28|   47| 2800|
|    PF|Female| 29|   34| 2900|
|   OOP|Female| 29|   39| 2900|
|   DSA|Female| 29|   51| 2900|
|    PF|Female| 28|   35| 2800|
|   MVC|Female| 28|   34| 2800|
|    DB|  Male| 28|   42| 2800|
|   OOP|  Male| 29|   35| 2900|
|   MVC|  Male| 29|   48| 2900|
|   MVC|Female| 29|   37| 2900|
|    DB|Female| 29|   35| 2900|
|   OOP|Female| 28|   43| 2800|
| Cloud|Female| 28|   57| 2800|
| Cloud|  Male| 29|   43| 2900|
|    PF|  Male| 28|   44| 2800|
|   DSA|  Male| 28|   36| 2800|
|    DB|Female| 28|   40| 2800|
|    DB|  Male| 29|   40| 2900|
|    PF|  Male| 29|   53| 2900|
+------+------+---+-----+-----+
only showing top 20 rows

+------+------+---+-----+-----+
|course|gender|age|count|dummy|
+------+------+---+-----+-----+
| Cloud|Female| 29|   49| 2900|
|   DSA|Female| 28|   47| 2800|
|    PF|Female| 29|   34| 2900|
|   OOP|Female| 29|   39| 2900|
|   DSA|Female| 29|   51| 2900|
|    PF|Female| 28|   35| 2800|
|   MVC|Female| 28|   34| 2800|
|    DB|  Male| 28|   42| 2800|
|   OOP|  Male| 29|   35| 2900|
|   MVC|  Male| 29|   48| 2900|
|   MVC|Female| 29|   37| 2900|
|    DB|Female| 29|   35| 2900|
|   OOP|Female| 28|   43| 2800|
| Cloud|Female| 28|   57| 2800|
| Cloud|  Male| 29|   43| 2900|
|    PF|  Male| 28|   44| 2800|
|   DSA|  Male| 28|   36| 2800|
|    DB|Female| 28|   40| 2800|
|    DB|  Male| 29|   40| 2900|
|    PF|  Male| 29|   53| 2900|
+------+------+---+-----+-----+
only showing top 20 rows

In [55]:

rdd = df.rdd

# COMMAND ----------

type(rdd)

# COMMAND ----------

rdd.collect()

# COMMAND ----------

rdd.filter(lambda x: x[0] == 28 ).collect()

# COMMAND ----------

rdd.filter(lambda x: x["gender"] == "Male" ).collect()

[Row(course='DB', gender='Male', age=28, count=42, dummy=2800),
 Row(course='OOP', gender='Male', age=29, count=35, dummy=2900),
 Row(course='MVC', gender='Male', age=29, count=48, dummy=2900),
 Row(course='Cloud', gender='Male', age=29, count=43, dummy=2900),
 Row(course='PF', gender='Male', age=28, count=44, dummy=2800),
 Row(course='DSA', gender='Male', age=28, count=36, dummy=2800),
 Row(course='DB', gender='Male', age=29, count=40, dummy=2900),
 Row(course='PF', gender='Male', age=29, count=53, dummy=2900),
 Row(course='DSA', gender='Male', age=29, count=42, dummy=2900),
 Row(course='OOP', gender='Male', age=28, count=35, dummy=2800),
 Row(course='Cloud', gender='Male', age=28, count=43, dummy=2800),
 Row(course='MVC', gender='Male', age=28, count=38, dummy=2800)]

In [56]:
rdd.filter(lambda x: x[2] == 28 ).collect()

[Row(course='DSA', gender='Female', age=28, count=47, dummy=2800),
 Row(course='PF', gender='Female', age=28, count=35, dummy=2800),
 Row(course='MVC', gender='Female', age=28, count=34, dummy=2800),
 Row(course='DB', gender='Male', age=28, count=42, dummy=2800),
 Row(course='OOP', gender='Female', age=28, count=43, dummy=2800),
 Row(course='Cloud', gender='Female', age=28, count=57, dummy=2800),
 Row(course='PF', gender='Male', age=28, count=44, dummy=2800),
 Row(course='DSA', gender='Male', age=28, count=36, dummy=2800),
 Row(course='DB', gender='Female', age=28, count=40, dummy=2800),
 Row(course='OOP', gender='Male', age=28, count=35, dummy=2800),
 Row(course='Cloud', gender='Male', age=28, count=43, dummy=2800),
 Row(course='MVC', gender='Male', age=28, count=38, dummy=2800)]

## SPARK SQL

In [57]:
df.createOrReplaceTempView("Student")

# COMMAND ----------

spark.sql("select course, gender, count(*) from Student group by course, gender").show()
df.groupBy("course", "gender").count().show()

+------+------+--------+
|course|gender|count(1)|
+------+------+--------+
|   OOP|  Male|       2|
|    DB|  Male|       2|
| Cloud|Female|       2|
|   MVC|  Male|       2|
|   DSA|Female|       2|
|    PF|  Male|       2|
|   MVC|Female|       2|
| Cloud|  Male|       2|
|    PF|Female|       2|
|   DSA|  Male|       2|
|    DB|Female|       2|
|   OOP|Female|       2|
+------+------+--------+

+------+------+-----+
|course|gender|count|
+------+------+-----+
|   OOP|  Male|    2|
|    DB|  Male|    2|
| Cloud|Female|    2|
|   MVC|  Male|    2|
|   DSA|Female|    2|
|    PF|  Male|    2|
|   MVC|Female|    2|
| Cloud|  Male|    2|
|    PF|Female|    2|
|   DSA|  Male|    2|
|    DB|Female|    2|
|   OOP|Female|    2|
+------+------+-----+

In [58]:
df = spark.read.options(header='True', inferSchema='True').csv('/user/itv001290/StudentData.csv')

In [59]:
df.createOrReplaceTempView("Student")

In [61]:
spark.sql("select gender,course,sum(marks) from Student group by course,gender ").show()

+------+------+----------+
|gender|course|sum(marks)|
+------+------+----------+
|  Male|   OOP|      4234|
|  Male|    DB|      5073|
|Female| Cloud|      6316|
|  Male|   MVC|      5241|
|Female|   DSA|      6124|
|  Male|    PF|      5960|
|Female|   MVC|      4344|
|  Male| Cloud|      5127|
|Female|    PF|      3973|
|  Male|   DSA|      4826|
|Female|    DB|      4197|
|Female|   OOP|      4682|
+------+------+----------+

In [63]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, udf
from pyspark.sql.types import DoubleType
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()

# COMMAND ----------

df = spark.read.options(header='True', inferSchema='True').csv('/user/itv001290/OfficeData.csv')
df.show()

# COMMAND ----------

def get_incr(state, salary, bonus):
  sum = 0
  if state == "NY":
    sum = salary * 0.10
    sum += bonus * 0.05
  elif state == "CA":
    sum = salary * 0.12
    sum += bonus * 0.03
  return sum

incrUDF = udf(lambda x,y,z: get_incr(x,y,z), DoubleType())

df.withColumn("increment", incrUDF(df.state, df.salary, df.bonus)).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+---------+
|employee_name|department|state|salary|age|bonus|increment|
+-------------+----------+-----+------+---+-----+---------+
|        James|     Sales|   NY| 90000| 34|10000|   9500.0|
|      Michael|     Sales|   NY| 86000| 56|20000|   9600.0|
|       Robert|     Sales|   CA| 81000| 30|23000|  10410.0|
|        Maria|   Finance|   CA| 90000| 24|23000|  11490.0|
|        Raman|   Finance|   CA| 99000| 40|24000|  12600.0|
|        Scott|   Finance|   NY| 83000| 36|19000|   9250.0|
|          Jen|   Finance|   NY| 79000| 53|15000|   8650.0|
|         Jeff| Marketing|   CA| 80000| 25|18000|  10140.0|
|        Kumar| Marketing|   NY| 91000| 50|21000|  10150.0|
+-------------+----------+-----+------+---+-----+---------+